{{#vertexSession.msg.show}}
    <div class="alert alert-{{vertexSession.msg.type}} alert-dismissible fade show" role="alert" id="alertMsg" >
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span id="closeAlert" >×</span>
        </button>
        <span>{{vertexSession.msg.text}}</span>
    </div>
{{/vertexSession.msg.show}} 