<!DOCTYPE html>
<html dir="ltr" lang="en-US">
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />

        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="keywords" content="">

        <title>Somelier</title>

        <!--#DatePicker -->
        <link rel="stylesheet" href="/css/flatpickr.min.css">
        <script type="text/javascript" src="/js/flatpickr.js" ></script>
        <script type="text/javascript" >
            document.addEventListener("DOMContentLoaded", function(event) { 
                document.getElementById('selector').flatpickr()
            })
        </script>
        <!--\ DatePicker -->

        <!-- Styles -->
        <link href="/css/core.min.css" rel="stylesheet" >
        <link href="/css/thesaas.min.css" rel="stylesheet" >
        <link href="/css/style.css" rel="stylesheet" >
        <link href="/css/pagination.css" rel="stylesheet" >
        <link href="/css/stripe.css" rel="stylesheet" >
        <script src="https://js.stripe.com/v3/" ></script>

        <!-- Favicons -->
        <link rel="apple-touch-icon" href="img/apple-touch-icon.png">
        <link rel="icon" href="img/favicon.png">

    </head>

 